/* layout changes...*/

/* moved position, top, left, right and width from #quote-box to .container
    elements with-in .container div, including #loadQuote button,
    keep position and spacing relative to each other
    and adjusts when browser window or screen orientation changes */

/* since as background-color is set to random colors
   font color of elements changed to #212120, very very dark grey, so text is more readible and reduce "neon" affect

/* added styling for the quote object's tag element */

/* added meta tag name=viewport RWD, to index.html
   and tweeked styling for mobile devices using @media (max-width: 420px and min-width=620px)  */

body {
  text-align: center;
  /* background-color:#800080; */
  font-size: 16pt;
  color: #212120;
  font-family: 'Playfair Display', serif;
}

/* for the app */

#controlButtons {
  position: absolute;
  top: 5%;
  left: 5%;
}
#loadQuote {
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  border-radius: 40px;
  border: 2px solid transparent;
}
#loadQuote:hover {
  background-color: #212120;
}
#loadQuote:focus {
  outline: none;
}
.container{
  /* background-color:#800080; */
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  width: 50%;
  height: 80%;
}
.quote {
  font-size: 3em;
  text-align: left;
  width:auto;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }
.quote:before, .quote:after {
  /* line-height: 2.5rem; */
  position: absolute;
}
.quote:before {
  content: "“";
  /* top: .25em; */
  left: -.5em;
}
.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}
/* .source:before {
  content: "—";
} */
.source {
  line-height: 1.5rem;
  text-align: right;
  font-size: 1rem;
  text-align: center;
}

.citation  {
  font-style: italic;
  line-height: 1.5rem;
  text-align: right;
  font-size: 1rem;
  text-align: center;
}
.citation:before {
  content: ", ";
  font-style: normal;
}
.year:before {
  content: ", ";
  font-style: normal;
}
.tag{
  font-size: 1em;
  text-align: right;
  margin-right: 4em;
  font-style: normal;
  position: relative;
  margin: 0;
  text-align: center;
}
.tag:before{
  content: "category: ";
}


/* Adjust for mobile devices  */

@media (max-width: 420px) {
  body{
    font-size: 16pt;
  }
  .container{
    position: absolute;
    top: 20%;
    left: 10%;
    right: 5%;
    width: 90%;
  }
  .quote {
    font-size: 1.5em;
  }
  .quote:before, .quote:after {
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
  }
  .quote:before {
    content: "“";
    top: .25em;
    left: -.5em;
  }
  .quote:after {
    content: "”";
    bottom: 1em;
    margin-left: .1em;
    position: absolute;
  }
  .source {
    line-height: 1rem;
    text-align: right;
    font-size: 1rem;
    text-align: center;
  }

  .citation  {
    line-height: 1em;
    text-align: right;
    font-size: 1em;
    text-align: center;
  }

  .tag{
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    margin-right: 4em;
    font-style: normal;
    position: relative;
    margin: 0;
  }

  #loadQuote {
    font-size: 1.2em;
  }

}

@media (min-width: 620px and max-width: 820px){
  .quote {
    font-size: 1.2em;
  }
}
